:root {
  --near-black: #111111;
}

html {
  margin: 0;
  padding: 0;
  background-color: var(--near-black);
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.header.cover {
  background-color: var(--near-black);
}

.container {
  width: 95%;
  margin: 40px auto;
  max-width: 1000px;
}

.container.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

.calculator-card {
  height: 200px;
  background-color: var(--near-black);
  color: whitesmoke;
  border-radius: 2px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.calculator-card:hover {
  cursor: pointer;
  filter: brightness(180%);
}

footer {
  background-color: var(--near-black);
}

@media screen and (min-width: 800px) {
  .container.grid {
    grid-template-columns: 1fr 1fr;
  }
}
