<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"
    />
    <link rel="stylesheet" href="/styles/index.css" />
    <title>Abacus Project</title>
  </head>
  <body>
    <%- include ('partials/_full-header') %>

    <!-- Calculator cards -->
    <main id="calculators" class="pv4 container grid">
      <a href="/investment-fees">
        <div class="calculator-card">
          <h2>Investment Fees</h2>
          <p>What is your current portfolio costing you in fees.</p>
        </div>
      </a>

      <a href="/education-roi">
        <div class="calculator-card">
          <h2>Education Return On Investment</h2>
          <p>What returns can you expect from your (further) education.</p>
        </div>
      </a>

      <a href="/investment-vehicle">
        <div class="calculator-card">
          <h2>TFSA vs. RRSP</h2>
          <p>Which Investment vehicle should you prioritize.</p>
        </div>
      </a>

      <a href="/rent-or-buy">
        <div class="calculator-card">
          <h2>Rent vs. Buy</h2>
          <p>An oversimplified guide to the rent vs. buy decision.</p>
        </div>
      </a>
    </main>
    <%- include ('partials/_footer') %>
  </body>
</html>
