<!-- Footer -->
<footer class="bg-near-black white-80 pv5 pv6-l ph4">
  <p class="f6">
    <span class="dib mr4 mr5-ns">Abacus Project</span>
    <span class="link white-80" href="#"> Contact </span> /
    <a class="link white-80 hover-green" href="mailto:hello@emmanueletti.com"
      >hello@emmanueletti.com</a
    >
  </p>
</footer>
